@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
	
	height: 100vh;
	min-height: 100vh;
}

body {
	margin: 0;
	min-height:100vh;
	background-image: linear-gradient(to top, #78d43d 0%, #0099cc 100%);
	background-size: cover;
	background-attachment: fixed;
}

p {
	margin:.5em 0;
	font-family: Roboto;
	color: white;
	font-weight: 400;
	font-size: large;
}

a {
	text-decoration: none;
	color: white;
	font-family:Roboto;
}

<!-- a:visited {
	color: #99DDDD;
} -->
a:hover {
	color: #DDFFFF;
}

h1 {
	font-family: Roboto;
	font-weight: 600;
	margin: .25em;
}

h2 {
	color: #DDDFFF;
	font-family: Roboto;
	font-weight: 600;
	font-size: min(max(6vw, 25pt), 5em);
	margin:.25rem;
}

h3 {
	color: #FFFFFF;
	font-family: Roboto;
	font-weight: 450;
	font-size: min(max(1.3vw, 18pt), max(40pt, 1.2vh));
	margin: 8px;
}


hr {
	width:max(300px,35%);
	color:#ffffff;
}

#stacked {
	display:flex;
	flex-direction: row;
	justify-content: center;
	text-align: left;
	vertical-align: top;

}

.menu {
	
	position: fixed;
	display: block;
	float:left;
	margin:10px;
	padding:10px;
	background-color: rgba(50, 70, 90, .25);
	z-index:1;

}
.menu-content {
	display: none;
	position:relative;
	padding: inherit;
	margin: 10px 0;
	width:auto;
	background-color: rgba(50, 70, 90, .25);
}
.menu:hover .menu-content{
	display:block;
}

#centered {
	width: 100%;
	height: 100%;
	display: flex;
	position: absolute;
	justify-content: space-between;
	flex-direction: column;
	text-align: center;


	--h: 7vh;
	--w: 6vw;
}

#linear {
	width: 100%;
	height: 100%;
	display: flex;
	position: absolute;
	justify-content: space-between;
	flex-direction: column;
	text-align: center;

	--h: 6vh;
	--w: 6vw;
}

.greeting2 {
	text-align: center;
	height:auto;

}
.greeting2 h1 {
	font-size: max(min(var(--h), var(--w), 3em));
	color: white;

}

.greeting1 {
	text-align: center;
	height:auto;

}
.greeting1 h1 {
	font-size: max(min(var(--h), var(--w)), 2em);
	color: white;

}

.content {
	width:auto;
}


.flexfooter {
	text-align: center;
	padding: 15px 0px 5px 0px;
	background: linear-gradient(0deg, rgba(50,100,100,.8) 0%, rgba(200,200,200,0) 100%);
	color:white;
	font-family: Roboto;
	font-weight: 600;
	bottom: 0px;
	width:100%;
	position: sticky;
	align-self: stretch;
}


#links {

	font-family: Roboto;
	font-weight: 300;
}

.redirect {
	font-size: max(min(calc(var(--w)*2),var(--h)), 3em);
	text-align: center;
}

.refs {
	width: auto;
	margin: 0 calc(var(--w)/3);
	max-width: 1500px;
}

.refs a {
	font-size: min(calc(var(--w)/2.7), 2rem);
}
.refs p {
	font-size: min(calc(var(--w)*.3), 1.8rem);
}
.refs h3 {
	color: #BBFFCC;
	font-family: Roboto;
	font-weight: 450;
	font-size: min(calc(var(--w)*.7), 3em);
	margin: 8px;
}
	

.pics {
	display:flex;
	flex-direction: column;

}

.pics img {
	max-height: 400px;
	max-width: auto;
	
}

.icons img {
	width: min(max(15vh, 250px), 25%);
	height: auto;
}
	
@media (max-width: 900px) {

.pics img {
	max-height: auto;
	max-width: 60%;

}
}

@media (max-width:800px) and (max-resolution:150dpi) {
#stacked {
	flex-direction:column;
}
#stacked a {
	font-size: 1.5em;
}
#stacked p {
	font-size: 1.3em;
}
#stacked h3 {
	font-size: 2em;
}
}

@media only screen and (min-resolution: 110dpi) and (orientation:portrait){

#stacked {
	width: 100%;
	flex-direction: column;
	
}
#stacked a {
	font-size: calc(var(--w)*.9);
}
#stacked p {
	font-size: min(calc(var(--w)*.775), 4em);
}
.refs {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}
.refs h3 {
	font-size: calc(var(--w)*1.5);
}
.greeting1 h1 {
	font-size: max(min(var(--h), var(--w)), 2em);
	color: white;

}
}
@media only screen and (min-resolution:150dpi) {
.flexfooter {
	position:relative;
	bottom:0px;
	align-self:stretch;
}
}
