@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
	
	height: 100%;
	overflow: scroll;
}

body {
	margin: 0;
	padding:0;
	background-image: linear-gradient(to top, #78d43d 0%, #0099cc 100%);
	background-size: cover;
	background-attachment: fixed;
}

a {
	text-decoration: none;
	color: white;
	font-family:Roboto;
}

<!-- a:visited {
	color: #99DDDD;
} -->
a:hover {
	color: #DDFFFF;
}

h1 {
	font-family: Roboto;
	font-weight: 600;
	margin: .25em;
}

h2 {
	color: #DDDFFF;
	font-family: Roboto;
	font-weight: 600;
	font-size: min(max(6vw, 25pt), 40pt);
	margin: .25em;
}

h3 {
	color: #FFFFFF;
	font-family: Roboto;
	font-weight: 450;
	font-size: min(max(1.3vw, 18pt), max(40pt, 1.2vh));
	margin: 8px;
}


hr {
	width:max(300px,35%);
	color:#ffffff;
}

#stacked {
	display: inline-block;
	min-width: min(700px, 80vw);
	width: min(800px, 25vw);
	padding: 0 2em;
	max-width: 45%;
	text-align: left;
	vertical-align: top;

}

.menu {
	
	position: fixed;
	display: block;
	float:left;
	margin:10px;
	padding:10px;
	background-color: rgba(50, 70, 90, .25);
	z-index:1;

}
.menu-content {
	display: none;
	position:relative;
	padding: inherit;
	margin: 10px 0;
	width:auto;
	background-color: rgba(50, 70, 90, .25);
}
.menu:hover .menu-content{
	display:block;
}

#centered {
	top:0px;
	bottom:15px;
	width: 100%;
	display: inline-block;
	margin:0;
	position: absolute;
	justify-content: center;
	text-align: center;
	vertical-align: middle;
}

.greeting {
	display: inherit;
	width:100%;
	height:min(max(15vh,100px),auto);

}
.greeting h1 {
	font-size: min(max(3vw, 3vh), max(3em,7vh));
	color: white;

}
.content {
	display: inline-block;
	bottom:0;
	width:80vw;
	max-width: 1500px;
	height:70%;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
}
.content a {
	font-size: min(max(4vw, 4vh), max(5em));
	padding:0;
}

p {
	font-family: Roboto;
	color: white;
	font-weight: 300;
	font-size: large;
}

footer {
	width: 100%;
	position: fixed;
	bottom: 0px;
	text-align: center;
	padding: 15px 0px 5px 0px;
	margin: 0;
	background: linear-gradient(0deg, rgba(0,25,35,1) 0%, rgba(0,45,74,0) 100%);
	color:white;
	font-family: Roboto;
	font-weight: 600;
}

#links {
	display:block;
	font-family: Roboto;
	font-weight: 300;
}

.redirect {
	height:100%;
	position: relative;
    	top: 35%;
    	transform: translateY(-35%);

}

.refs a {
	font-size: min(max(1.2vw, 15pt), max(30pt, 1vh));
}
.refs p {
	font-size: min(max(1.2vw, 12pt), max(30pt, 1vh));
}
.refs h3 {
	color: #BBFFCC;
	font-family: Roboto;
	font-weight: 450;
	font-size: min(max(1.3vw, 18pt), max(40pt, 1.2vh));
	margin: 8px;
}
	

.pics {
	display: inline-block;
	height:inherit;
}

.pics img {
	max-height: 400px;
	max-width: auto;
	
}

.icons img {
	width: min(max(15vh, 250px), 25%);
	height: auto;
}
	
@media (max-width: 900px) {

#stacked {
	padding: 10px;

}

.pics img {
	max-height: auto;
	max-width: 60%;

}



